body
{
	background:url(../images/back.png) fixed no-repeat;
	background-size:100%;
}

#d2
{
	width:98%;
	height:250px;
	position:absolute;
	margin-top:200px;
	margin-left:12px;	
	background-color:rgba(204,204,204,0.79);
}