#d1
{
	background-image:url(../images/3--1878535-Female%20doctor%20with%20a%20stethoscope.jpg);
	background-size:100%;
}

#d2
{
	width:800px;
	height:600px;
	padding-top:100px;
	padding-left:200px;
}
#im1
{
	width:100px;
	height:100px;
}