
#menu li
{
	padding-top:20px;
	padding-right:10px;
}
#menu li a
{
	color:#FFF;
}
#menu li a:hover
{
	color:#999;
	background-color:transparent;
	
}
.header
{

	background:url(../../moto-pack/mobile/images/bg.jpg);
	height:650px;
	background-size:100%;
}
#d2
{
	padding-top:80px;
}
#d1
{
	margin-left:40px;
	width:350px;
	height:200px;
	float:left;
	background-color:#906;
	margin-top:120px;
}
#d4
{
	
	width:350px;
	height:200px;
	float:left;
	background-color:#906;
	margin-top:120px;
}
#d3
{
	
	width:350px;
	height:200px;
	float:left;
	background-color:#906;
	margin-top:120px;
}
#i2
{
	width:50px;
	height:50px;
}
